:root {
    --background: #B8BACF;
    --questionbox: #999AC6;
}

body {
    background-color: var(--background);
}

* {
    box-sizing: border-box;
}



.center {
    text-align: center;
}

.btn {
    margin: 0 auto;
    display: block;
}